<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>example</title>
</head>
<body>
    <div class="container">
        <form method="POST" action="/general_answer">
            <label for="username">Ask any question here from chat gpt:</label>
            <input type="text" id="username" name="general_question" placeholder="Ask your question?">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>